@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    /* font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-family: 'Nunito Sans', sans-serif;

    /* background-color: #ffffff; */
    background-color:#222;
    /* color: #333; */
    color:#c0c0c0;
    font-size: 15px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    word-spacing: 0.1em;
}


.avatar {
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #DDD;
    float: right;
    width: 260px;
    top: 0rem;
    margin-left: 20px;
    transition: 0.75s all ease-in-out;
}

.avatar:hover {
    border-radius: 5px;
    transform: scale(1.1);
}

#content-section {
    margin: 0 auto;
    width: 897px;
}


a:link {
    /* color: #333; */
    color:#c0c0c0;

    text-decoration: underline;
}

a:visited {
    /* color: #333; */
    color:#c0c0c0;

}

a:hover {
    color: tomato;
}


footer {
    font-size: 90%;
    padding-top: 0.1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    color: #c0c0c0;
    border-top: 1px solid #e9ecef;


}

footer a {
    color: #cccccc;
}

#nav {
    padding-bottom: 0.6em;

    border-bottom: 1px solid #ececec;

}

#nav-title {
    font-size: 140%;
    font-weight: 800;

}

#nav-menu {
    margin-top: 0.5em;

    float: right;
}


@media (max-width: 359px) {
    #nav-menu {
        display: none;
    }
}

.nav-logo {
    margin-top: -0.5em;
    height: 35px;
}

h1 {
    font-size: 1.17em;
    /* padding-top: 0.7em; */
    margin-bottom: -0.4em;
    /* border-top: 1px solid #ececec; */

}

h2 {
    font-size: 1.10em;
    margin-bottom: -0.4em;

}

h3 {
    font-size: 1.08em;
    padding-top: 0.7em;
    margin-bottom: -0.4em;
    /* border-top: 1px solid #ececec; */

}

.announce {
    color: tomato;
}

#lastupdate {
    color: #c0c0c0;
    text-align: right;
}

@media (max-width: 899px) {
    body {

        padding-left: 5px;
        padding-right: 5px;
    }

    .avatar {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    #content-section {
        margin: 0 auto;
        width: 100%;
    }

    h2,
    h3,
    h4 {
        margin-block-start: 0.3em;
        margin-block-end: 0.3em;
    }


}
