<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <title> {{ site.title }} | {{ page.title }} </title>

</head>

<body>
    <div class="content-section">
        <div class="nav" id = "navbar">
			{% include nav.html %}
        </div>
		
		<div class= "content">
        	{{ content }}
		</div>
		
		{% include footer.html %}
    </div>
</body>


<script>
    function switchnav() {
        var x = document.getElementById("navbar");
        var b = document.getElementById("button"); 
        if (x.className === "nav") {
            b.innerHTML = "<i class=\"fa fa-times\"></i>";
            x.className += " responsive";
        } else {
            b.innerHTML = "<i class=\"fa fa-bars\"></i>";
            x.className = "nav";
        }
    }
</script>

</html>