<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <title> {{ site.title }} | {{ page.title }} </title>

</head>

<body>
    <div class="content-section">
        <div class="nav" id = "navbar">
			{% include nav.html %}
        </div>
		
		<div id= "content">
        	{{ content }}
		</div>
		
		{% include footer.html %}
    </div>
</body>


<script>
    function myFunction() {
        var x = document.getElementById("navbar");
        var b = document.getElementById("button"); 
        if (x.className === "nav") {
            x.className += " responsive";
            b.innerHTML = "<img src=\"assets/images/menu-close.svg\"  height=\"25\">";
        } else {
            b.innerHTML = "<img src=\"assets/images/menu-open.svg\"  height=\"25\">";
            x.className = "nav";
        }
    }
</script>

</html>